<form id="chat">
  <div class="p-2" style="background-color: #efefef">

    <div class="input-group m-0">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Usuário:</span>
      </div>
      <input type="text" class="form-control" id="username" placeholder="Digite seu usuário">
    </div>
  </div>

  <div class="p-3" id="messages">
  </div>

  <div class="p-2" style="background-color: #efefef">
    <div class="input-group m-0">
      <input id="message" type="text" class="form-control" placeholder="Digite sua mensagem...">
      <div class="input-group-append">
        <button class="btn btn-md btn-default m-0 px-3" type="submit">Enviar</button>
      </div>
    </div>
  </div>
</form>
