<form id="chat">
  <div class="bg-white p-2">
    <div class="md-form m-0">
      <input type="text" id="username" class="form-control" placeholder="Digite seu usuário">
    </div>
  </div>
  

  <div class="p-3" id="messages">

  </div>

  <div class="bg-white p-2">
    <div class="md-form input-group m-0">
      <input id="message" type="text" class="form-control" placeholder="Digite sua mensagem...">
      <div class="input-group-append">
        <button class="btn btn-md btn-default m-0 px-3" type="submit">Enviar</button>
      </div>
    </div>

    
  </div>
  
  
</form>
